In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
import datetime
from datetime import date

In [2]:
movie_data = "Movie Data Cleaned.csv"
movie_data_df= pd.read_csv(movie_data)
#movie_data_df.head()

In [3]:
movie_data_df["Runtime"]=movie_data_df["Runtime"].str.rstrip(" min")
movie_data_df=movie_data_df.rename(columns={"Runtime":'Runtime In Min'})

In [4]:
movie_data_df["Rank"]=movie_data_df["Rank"].astype(int)
movie_data_df["Open"]=movie_data_df["Open"].replace({'\$': '',',': ''}, regex=True)
movie_data_df["Total Gross"]=movie_data_df["Total Gross"].replace({'\$': '',',': ''}, regex=True)

In [5]:
movie_data_df=movie_data_df.rename(columns={"Open":"Opening Day Date"})
movie_data_df["Total Gross"]=movie_data_df["Total Gross"].astype(float)
movie_data_df=movie_data_df.rename(columns={"O Theaters":"Amount of Theaters on Opening Day"})
movie_data_df=movie_data_df.rename(columns={"Opening":"Opening Gross Amount"})
movie_data_df["Opening Gross Amount"]=movie_data_df["Opening Gross Amount"].replace({'\$': '',',': ''}, regex=True)
movie_data_df["Opening Gross Amount"]=movie_data_df["Opening Gross Amount"].astype(float)
movie_data_df["imdbVotes"]=movie_data_df["imdbVotes"].replace({'\$': '',',': ''}, regex=True)
movie_data_df["imdbVotes"]=movie_data_df["imdbVotes"].astype(float)
movie_data_df=movie_data_df.rename(columns={"TG Theaters":"Total Theaters"})

In [6]:
movie_data_df["Runtime In Min"]=movie_data_df["Runtime In Min"].astype(float)

In [7]:
movie_data_df.head()

,Unnamed: 0,Close,Movie Title,Amount of Theaters on Opening Day,Opening Day Date,Opening Gross Amount,Rank,Studio,Total Theaters,Total Gross,...,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,DVD,BoxOffice,Production,Website
0,0,NaN,Vice Squad,510.0,22-Jan,1717205.0,1,Emb,510.0,13253583.0,...,https://m.media-amazon.com/images/M/MV5BMTRhYj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,6.4,1469.0,tt0084861,21-Feb-06,NaN,Anchor Bay Entertainment,NaN
1,1,NaN,The Seduction,597.0,22-Jan,1503543.0,2,Emb,597.0,11378339.0,...,https://m.media-amazon.com/images/M/MV5BZDljY2...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,4.9,799.0,tt0084652,7-Nov-06,NaN,Embassy,NaN
2,2,NaN,Shoot the Moon,585.0,22-Jan,1870000.0,3,MGM,585.0,9217530.0,...,https://m.media-amazon.com/images/M/MV5BZTk2ZW...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.0,2167.0,tt0084675,6-Nov-07,NaN,Warner Home Video,NaN
3,3,NaN,The Border,84.0,29-Jan,516014.0,4,Uni.,888.0,6118683.0,...,https://m.media-amazon.com/images/M/MV5BYmNiMz...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,6.4,5316.0,tt0083678,11-May-04,NaN,Universal Pictures,NaN
4,4,NaN,Venom,900.0,29-Jan,1672747.0,5,Par.,900.0,5229643.0,...,https://m.media-amazon.com/images/M/MV5BNzAwNz...,"[{'Source': 'Internet Movie Database', 'Value'...",35.0,6.8,257961.0,tt1270797,18-Jun-13,NaN,Vis,NaN

In [8]:
movie_data_df.dtypes

Unnamed: 0                             int64
Close                                 object
Movie Title                           object
Amount of Theaters on Opening Day    float64
Opening Day Date                      object
Opening Gross Amount                 float64
Rank                                   int32
Studio                                object
Total Theaters                       float64
Total Gross                          float64
Year                                   int64
Title                                 object
Rated                                 object
Released                              object
Runtime In Min                       float64
Genre                                 object
Director                              object
Writer                                object
Actors                                object
Plot                                  object
Language                              object
Country                               object
Awards                                object
Poster                                object
Ratings                               object
Metascore                            float64
imdbRating                           float64
imdbVotes                            float64
imdbID                                object
DVD                                   object
BoxOffice                             object
Production                            object
Website                               object
dtype: object

In [15]:
#movie_data_df["Open"]=pd.to_datetime(movie_data_df.Open,errors='coerce')

In [10]:
movie_data_df.to_csv('moviedata_clean.csv', encoding='utf-8', index=False)

In [9]:
md_studiorating= movie_data_df.groupby(['Studio'], as_index=False).agg({'imdbRating':'mean'})
md_studiorating.head()

  Studio  imdbRating
0    108         4.5
1    10F         6.6
2    120         4.6
3    1NF         5.1
4    21C         6.5

In [21]:
#tempS=('1 h 40'.split('h'))
#np.float(tempS[0])*60+np.float(tempS[1])